
    /**
     * @covers {className}::{origMethodName}
     * @todo   Implement test{methodName}().
     */
    public function test{methodName}()
    {
        $this->markTestSkipped(
            'This test has not been implemented yet.'
        );
    }
